*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #EBEBEB;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav {
  background-color: #322E41;
  width: 100%;
}
.header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 65px;
  align-items: center;
}
.header-list {
  display: flex;
  flex-wrap: wrap;
}
.header-link {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  padding: 23px 14px;
  transition: 300ms;
}
.header-link:hover {
  background-color: #FFFFFF;
  color: #D47300;
}
.header-content {
  background: url(../images/haeder-bg.jpg) no-repeat center /cover;
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  height: 565px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-title {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 50px;
  margin-bottom: 15px;
}
.header-desc {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400;
}
.header-desc span {
  font-weight: 700;
}
.main {
  margin-top: -37px;
  margin-bottom: 30px;
}
.section-item {
  padding: 15px;
  background: #FFFFFF;
  border-radius: 6px;
  max-width: 540px;
  width: 100%;
}
.section-item img {
  display: block;
  width: 100%;
  height: 265px;
  object-fit: cover;
  margin-bottom: 20px;
}
.section-item p {
  font-size: 16px;
  font-weight: 400;
  color: #9B9B9B;
  line-height: 19px;
}
.section-item h2 {
  color: #2C2A2A;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}
.section-trainers {
  max-width: 540px;
  width: 100%;
  height: 467px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.section-card {
  max-width: 255px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-card h3 {
  font-size: 22px;
  font-weight: 700;
  color: #2C2A2A;
  line-height: 16px;
  margin: 12px 0;
}
.section-card p {
  font-size: 16px;
  font-weight: 400;
  color: #9B9B9B;
  line-height: 100%;
}
.section-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer {
  background: #322E41;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 36px 0 58px;
}
.footer-content form {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
input, textarea, button {
  border-radius: 6px;
  font-size: 18px;
  line-height: 18px;
  background: #FFFFFF;
  outline: none;/* внешняя граница */
  border: none;/* внутрення граница */
  padding: 8px;
  font-family: 'Roboto';
  font-weight: 400;
  /* margin-bottom: 10px; */
}
textarea {
  height: 86px;
  resize: none;
}
button {
  font-size: 16px;
  color: #FFFFFF;
  padding: 4px 0;
  background: #544294;
  text-transform: capitalize;
}
form >:not(:last-child) {
  margin-bottom: 10px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 236px;
  width: 100%;
}
.footer-list a {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  transition: 300ms;
  display: block;
}
.footer-list a:hover {
  color: #D47300;
}
.footer-list li:not(:last-of-type) a {
  margin-bottom: 10px;
}










/* 
@media(max-width: 1000px) {
  .header-title {
    color: red;
  }
} */